/* Imported fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Teko:wght@300..700&display=swap');

body{
    margin: 0px;
    background-color: #231651; /* to make the background purple */
}

/* ---------- Nav bar ---------- */
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4dccbd;
    color: #ffffff;
    padding: 16px;
    box-shadow: 0px 16px #323232;
}

/* styling the logo */
.logo{
    position: absolute;
    left: 16px;
    font-family: "Teko", sans-serif;
    font-size: 3em;
    color: #ffffff;
}

/* styling the tab */
.tabs{
    font-family: "Lato", sans-serif;
    display: flex;
    flex-direction: row;
    gap: 48px;
    text-shadow: 2px 1px #323232;
}

/* styling the search */
.search{
    position: absolute;
    right: 16px;
    font-family: "Teko", sans-serif;
    font-size: 3em;
    border-style: solid;
    padding-left: 16px;
    padding-right: 16px;
    height: 60px;
    border-radius: 16px;
    background-color: #323232;
}

/* ---------- Content Grid ---------- */
main{
    display: grid;
    width: 900px;
    grid-template-areas: 
        "movie1 movie1"
        "movie2 movie3"
        "movie4 movie4"
        "movie5 movie5"
        "movie6 movie6";
    padding-top: 48px;
    padding-bottom: 48px;
    margin: auto;
    column-gap: 75px;
}

/* Styles for title and description */
#title{ margin-top: 16px; }

#description{ 
    margin-top: -16px;
    font-size: 1.5em;
}
#description2{ margin-top: -16px; padding-bottom: 60px; font-size: 1.5em; }
#description3{ margin-top: -16px; padding-bottom: 45px; font-size: 1.5em; }
#description4{ margin-top: -16px; padding-bottom: 35px; font-size: 1.5em; }
#description5{ margin-top: -16px; padding-bottom: 75px; font-size: 1.5em; }
#description6{ margin-top: -16px; font-size: 1.5em; }

/* Info box margin */
.info{ margin-right: 16px; }

/* ---------- styling for the movie cards ---------- */
.title_card, .title_card2{ 
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-left: 16px;
}

/* styling the buttons */
.barbbutton{ 
    border-style: solid;
    font-family: "Teko", sans-serif;
    padding-left: 40px;
    padding-right: 40px;
    margin-right: 16px;
    font-size: 2em;
    text-align: center;
    border-radius: 16px;
}

.lalabutton{ 
    border-style: solid;
    font-family: "Teko", sans-serif;
    padding-left: 80px;
    padding-right: 80px;
    font-size: 2em;
    border-radius: 16px;
}

.palmbutton{ 
    border-style: solid;
    font-family: "Teko", sans-serif;
    padding-left: 80px;
    padding-right: 80px;
    font-size: 2em;
    border-radius: 16px;
}
.hiddenbutton{ 
    border-style: solid;
    font-family: "Teko", sans-serif;
    padding-left: 80px;
    padding-right: 80px;
    font-size: 2em;
    border-radius: 16px;
}
.rogerbutton{ 
    border-style: solid;
    font-family: "Teko", sans-serif;
    padding-left: 80px;
    padding-right: 80px;
    font-size: 2em;
    border-radius: 16px;
}
.hookbutton{ 
    border-style: solid;
    font-family: "Teko", sans-serif;
    padding-left: 80px;
    padding-right: 80px;
    font-size: 2em;
    border-radius: 16px;
}

/* Barbie movie card */
.barbie{
    grid-area: movie1;
    display: flex;
    flex-direction: column; 
    border-style: solid;
    background-color: #ffffff;
    font-family: "Lato", sans-serif;
    align-items: center;
    box-shadow: 8px 8px #323232;
    margin-top: 0px;
    width: 100%;
    max-width: 900px;
}

#barbiepic{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    max-height: 400px;
}

/* Lala Land movie card */
.lalaland{
    grid-area: movie2;
    border-style: solid;
    background-color: #ffffff;
    font-family: "Lato", sans-serif;
    align-items: center;
    box-shadow: 8px 8px #323232;
    margin-top: 16px;
    width: 410px;
}

.lalaland .title_card2 { flex-direction: column; align-items: center; }

#lalapic{ width: 100%; object-fit: cover; object-position: top center; max-height: 350px; }

/* Palm movie card */
.palm{
    grid-area: movie3;
    border-style: solid;
    background-color: #ffffff;
    font-family: "Lato", sans-serif;
    align-items: center;
    box-shadow: 8px 8px #323232;
    margin-top: 16px;
    width: 410px;
}

#palmpic{ width: 100%; object-fit: cover; object-position: bottom center; max-height: 350px; }

/* Hidden movie card */
.hidden{
    display: flex;
    flex-direction: row;
    grid-area: movie4;
    border-style: solid;
    background-color: #ffffff;
    font-family: "Lato", sans-serif;
    box-shadow: 8px 8px #323232;
    margin-top: 16px;
    width: 900px;
}

#hiddenpic{ object-fit: cover; width: 1800px; max-height: 400px; object-position: top; }

/* Roger movie card */
.roger{
    display: flex;
    flex-direction: row;
    grid-area: movie5;
    border-style: solid;
    background-color: #ffffff;
    font-family: "Lato", sans-serif;
    box-shadow: 8px 8px #323232;
    margin-top: 16px;
    width: 900px;
}

#rogerpic{ object-fit: cover; width: 1640px; max-height: 400px; object-position: top; }

/* Hook movie card */
.hook{
    display: flex;
    flex-direction: row;
    grid-area: movie6;
    border-style: solid;
    background-color: #ffffff;
    font-family: "Lato", sans-serif;
    box-shadow: 8px 8px #323232;
    margin-top: 16px;
    width: 900px;
}

#hookpic{ object-fit: cover; width: 1800px; max-height: 400px; }

/* ---------- tablet layout ---------- */
@media screen and (min-width: 720px) and (max-width: 1024px) {
    /* Adjusts the tab spacing */
    .tabs{ gap: 32px; }

    /* Main grid layout adjustments */
    main{
        display: grid;
        grid-template-areas: 
            "movie1 movie1"
            "movie2 movie2"
            "movie3 movie3"
            "movie4 movie4"
            "movie5 movie5"
            "movie6 movie6";
        padding-top: 32px;
        padding-bottom: 32px;
    }

    /* descriptions spacing */
    #description{padding-bottom: 30px;}
    #description2{padding-bottom: 75px;}
    #description3{padding-bottom: 23px;}
    #description4{padding-bottom: 4px;}
    #description5{padding-bottom: 43px;}
    #description6{padding-bottom: 20px;}

    /* Title cards layout */
    .title_card, .title_card2{flex-direction: column;}
    .button1{padding-left: 80px; padding-right: 80px;}

    /* Movie cards adjustments */
    .barbie, .lalaland, .palm, .hidden, .roger, .hook{
        margin-top: 16px;
        width: 100%;
        max-width: 410px;
        height: auto;
        flex-direction: column;
    }

    /* Movie image adjustments */
    #barbiepic, #lalapic, #palmpic, #hiddenpic, #rogerpic, #hookpic{
        width: 100%;
        object-fit: cover;
        object-position: top;
        max-height: 350px;
    }
}

/* ---------- mobile layout ---------- */
@media screen and (min-width: 360px) and (max-width: 720px) {
    /* Nav adjustments */
    nav{ height: 40px; width: auto; }
    .logo{ font-size: 2em; text-shadow: 3px 3px #323232; }
    .tabs{ display: none; } 
    .search{ position: absolute; right: 16px; }

    /* Main grid layout adjustments */
    main{
        display: grid;
        width: 100%;
        max-width: 720px;
        grid-template-areas: 
            "movie1"
            "movie2"
            "movie3"
            "movie4"
            "movie5"
            "movie6";
        padding-top: 16px;
        padding-bottom: 48px;
        margin: auto;
        column-gap: 75px;
    }

    /*  descriptions spacing */
    #description{padding-bottom: 30px;}
    #description2{padding-bottom: 75px;}
    #description3{padding-bottom: 23px;}
    #description4{padding-bottom: 4px;}
    #description5{padding-bottom: 43px;}
    #description6{padding-bottom: 20px;}

    /* Title cards layout */
    .title_card, .title_card2{flex-direction: column; padding-bottom: 16px;}
    .button1, .button2{padding-left: 80px; padding-right: 80px;}

    /* Movie cards adjustments */
    .barbie, .lalaland, .palm, .hidden, .roger, .hook{
        margin-top: 16px;
        width: 100%;
        height: fit-content;
        box-shadow: 0px 0px #323232;
        flex-direction: column;
    }

    /* Movie images adjustments */
    #barbiepic, #lalapic, #palmpic, #hiddenpic, #rogerpic, #hookpic{
        width: 100%;
        object-fit: cover;
        object-position: top;
        max-height: 400px;
    }
}
